<div class="wish-search-content">
    <p class="lead">{{headerText}}</p>
    <form #searchForm="ngForm" class="form-inline search-form" (ngSubmit)="search(searchForm)">
        <select class="form-control" name="wishSelect" [(ngModel)]="wishInput.type">
            <option *ngFor="let wish of wishSelect" [value]="wish.type">
                {{ wish.text }}
            </option>
        </select>
        <input [(ngModel)]="wishInput.searchText" name="searchText" class="form-control" type="text" [placeholder]="searchPlaceholder" />
        <button type="submit" class="btn btn-primary">{{buttonSubmitText}}</button>
    </form>
    <div class="search-result">
        <div class="row" *ngIf="wishResult.imageUrl">
            <div class="col-xs-12 col-sm-6">
                <img src="{{wishResult.imageUrl}}" class="img-fluid" alt="" />
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="lead">{{wishResult.text}}</p>
            </div>
        </div>
        <p class="lead" *ngIf="!wishResult.imageUrl">{{wishResult.text}}</p>
    </div>
    <!--<div class="row search-result" *ngIf="wishResult.imageUrl">
        <div class="col-xs-12 col-sm-6">
            <img src="{{wishResult.imageUrl}}" *ngIf="wishResult.imageUrl" class="img-fluid rounded" alt="" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <p class="lead" *ngIf="wishResult.text">{{wishResult.text}}</p>
        </div>
    </div>
    <div class="row search-result" *ngIf="!wishResult.imageUrl">
        <p class="lead" *ngIf="wishResult.text">{{wishResult.text}}</p>
    </div>-->
</div>