/*@import url('https://fonts.googleapis.com/css?family=Marmelad&subset=cyrillic');*/

@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import "variables";

@include media-breakpoint-only(lg) {
    html {
        font-size: 14px;
    }
}

body {
    background: url('img/bg5.jpg');
    background-size: 110px auto;
}

body:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(220,220,200,0.3);
    z-index: -1;
}

.tv-content-wrapper {
    margin: 4rem 0;
    position: relative;

    .background {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;

        img {
            @include img-fluid();
        }
    }
}

.wish-search-content {
    @include media-breakpoint-down(md) {
        background: $light-yellow;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
    }

    @include media-breakpoint-only(lg) {
        top: 159px;
        left: 125px;
        width: 528px;
        height: 401px;
    }

    @include media-breakpoint-only(xl) {
        top: 195px;
        left: 145px;
        width: 633px;
        height: 470px;
    }

    padding: 1.4rem;
    @include border-radius(35px);
    overflow: hidden;
    transform: rotateZ(-1deg);

    h2 {
    }

    .search-form {
        .form-control {
            padding: 0.5rem 0.5rem;
        }

        @include media-breakpoint-down(md) {
            input[type="text"], select {
                width: 100%;
                margin-bottom: .8rem;
            }
        }

        @include media-breakpoint-only(lg) {
            input[type="text"], select {
                width: 9.5rem;
            }
        }

        @include media-breakpoint-only(xl) {
            input[type="text"], select {
                width: 10rem;
            }
        }
    }

    .search-result {
        margin-top: 2rem;
        @include border-radius(15px);

        img {
            margin-bottom: 1rem;
            @include box-shadow(0 0 25px 3px black);
            transform: rotateZ(2deg);

            @include media-breakpoint-only(lg) {
                max-height: 155px;
            }

            @include media-breakpoint-only(xl) {
                max-height: 220px;
            }
        }
    }
}

.user-info-content {
    @include media-breakpoint-down(md) {
        color: orangered;
        background: $light-yellow;
        @include border-radius(35px);
        padding: 2rem;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        color: white;
    }

    @include media-breakpoint-only(lg) {
        top: 27px;
        right: 380px;
    }

    @include media-breakpoint-only(xl) {
        top: 29px;
        right: 470px;
    }

    transform: rotateZ(-1.5deg);
}

date-component {
    @include media-breakpoint-down(md) {
        display: block;
        text-align: right;
    }
}

.date-content {
    display: inline-block;

    @include media-breakpoint-down(md) {
        transform: rotateZ(2.5deg);
        margin: 1rem 1rem;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        transform: rotateZ(0.7deg);
    }

    @include media-breakpoint-only(lg) {
        top: 485px;
        left: 712px;
    }

    @include media-breakpoint-only(xl) {
        top: 576px;
        left: 851px;
    }

    padding: .5rem;

    @include media-breakpoint-only(lg) {
        padding: .3rem;
    }

    background: rgba(185, 185, 185, 1);
    @include border-radius(3px);
    border: 1px solid black;

    div:last-child {
        margin-left: .4rem;
    }
}

.load-spinner {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-175px, -60px);
    z-index: 10;
    color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    @include border-radius(35px);

    img {
        height: 90px;
        width: 90px;
    }

    h2 {
        margin-left: 10px;
    }
}

coder-component {
    display: flex;
    justify-content: center;

    .coder-container {
        display: inline-block;
        margin-top: 35vh;
        text-align: center;
        color: orangered;
        background: $light-yellow;
        @include border-radius(35px);
        padding: 2rem;

        input {
            margin: .6rem;
        }
    }
}
