/*@import url('https://fonts.googleapis.com/css?family=Marmelad&subset=cyrillic');*/

@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');

body {
    background: url('img/bg5.jpg');
    background-size: 110px auto;
}

.tv-content-wrapper {
    margin: 4rem 0;
    position: relative;

    .background {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;

        img {
            @include img-fluid();
        }
    }
}

.wish-search-content {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    top: 195px;
    left: 145px;
    width: 633px;
    height: 470px;
    padding: 1.4rem;
    @include border-radius(35px);
    overflow: hidden;
    transform: rotateZ(-1deg);

    h2 {
    }

    .search-form {
        .form-control {
            padding: 0.5rem 0.5rem;
        }

        input[type="text"] {
            width: 10rem;
        }

        select {
            width: 10rem;
        }
    }

    .search-result {
        margin-top: 2rem;

        img {
            max-height: 220px;
            @include border-radius(15px);
        }
    }
}

.user-info-content {
    position: absolute;
    top: 29px;
    right: 470px;
    transform: rotateZ(-1.5deg);
    color: white;
}

.date-content {
    position: absolute;
    display: inline-block;
    top: 576px;
    left: 851px;
    padding: .5rem;
    background: rgba(185, 185, 185, 1);
    @include border-radius(3px);
    border: 1px solid black;
    transform: rotateZ(0.7deg);

    div:last-child {
        margin-left: .4rem;
    }
}

.load-spinner {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-195px, -60px);
    z-index: 10;
    color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    @include border-radius(35px);

    img {
        height: 90px;
        width: 90px;
    }

    h2 {
        margin-left: 10px;
    }
}

coder-component {
    display: flex;
    justify-content: center;

    .coder-container {
        display: inline-block;
        margin-top: 35vh;
        text-align: center;
        color: orangered;
        background: rgba(255, 255, 200, 0.9);
        @include border-radius(35px);
        padding: 2rem;

        input {
            margin: .6rem;
        }
    }
}
