@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts{
}

<app-component>
    <div class="load-spinner">
        <img src="/css/img/loader.gif" />
        <h2>Заждіт троха...)</h2>
    </div>
</app-component>