<div class="wish-search-content">
    <p class="lead">{{headerText}}</p>
    <form #searchForm="ngForm" class="form-inline search-form" (ngSubmit)="search(searchForm)">
        <select #wishTypeInput class="form-control" name="wishTypeSelect" (change)="onWishTypeChange(wishTypeInput.value)"
                [(ngModel)]="wishInput.type">
            <option *ngFor="let item of wishTypes" [value]="item.type">
                {{ item.displayText }}
            </option>
        </select>
        <select #wishTypeChoiceInput class="form-control" name="wishTypeChoiceSelect" (change)="onWishTypeChoiceChange(wishTypeChoiceInput.value)"
                [(ngModel)]="wishInput.typeChoice">
            <option *ngFor="let item of wishTypeChoices[wishInput.type]" [value]="item.type">
                {{ item.displayText }}
            </option>
        </select>
        <input [(ngModel)]="wishInput.searchText" name="searchText" class="form-control"
               type="text" [placeholder]="searchPlaceholder" *ngIf="isSearchTextVisible(wishInput.typeChoice)" />
        <div class="text-xs-center d-inline-block">
            <button type="submit" class="btn btn-primary">{{buttonSubmitText}}</button>
        </div>
    </form>
    <div class="search-result">
        <div class="row no-gutters" *ngIf="wishResult.imageUrl">
            <div class="col-xs-12 col-sm-6">
                <div class="text-xs-center px-1">
                    <img src="{{wishResult.imageUrl}}" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="lead">{{wishResult.text}}</p>
            </div>
        </div>
        <p class="lead" *ngIf="!wishResult.imageUrl">{{wishResult.text}}</p>
    </div>
    <!--<div class="row search-result" *ngIf="wishResult.imageUrl">
        <div class="col-xs-12 col-sm-6">
            <img src="{{wishResult.imageUrl}}" *ngIf="wishResult.imageUrl" class="img-fluid rounded" alt="" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <p class="lead" *ngIf="wishResult.text">{{wishResult.text}}</p>
        </div>
    </div>
    <div class="row search-result" *ngIf="!wishResult.imageUrl">
        <p class="lead" *ngIf="wishResult.text">{{wishResult.text}}</p>
    </div>-->
</div>