<!DOCTYPE html>
<html>
<head>
    <title>Святий Миколай</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">

    <link rel="stylesheet" href="/dest/app.css">

    <script src="/dest/polyfills.js" defer></script>
    <script src="/dest/vendor.js" defer></script>
    <script src="/dest/app.js" defer></script>

    @RenderSection("Scripts")
</head>
<body>
    <main class="main-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>